﻿@{
    ViewBag.Title = "Debolina Bagchi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br /><br/>
    <strong>Design:</strong> <a href="mailto:debolina1996bagchi@gamil.com">Debolina1996bagchi@gmail.com</a><br />
    <strong>C# Development:</strong> <a href="mailto:debolina_bagchi@gamil.com">Debolina_bagchi@gmail.com</a><br />


</address>